* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  height: 100vh;
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 5px 10px 5px 10px;
}

.redDiv {
  background-color: red;
}

.blueDiv {
  background-color: blue;
}

.container {
  height: 100%;
  width: auto;
  text-align: center;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid orange;
  border-radius: 16px;
}

.selector{
  padding: 10px;
  border: 2px solid orange;
  border-radius: 16px;
}

.hidden {
  display: none;
}